/* css for the home page elements*/
body{
    background-color: mediumslateblue;
}
h1{
    font-weight: bold;
    font-size: 44px;
    color: floralwhite;
    text-align: left;
}
h2{
    color: floralwhite;
    text-align: center;
    font-size: 36px;
}
h3{
    font-size: 28px;
    color: floralwhite;
    text-align: center;
}
p{
    padding: 10px;
    color: floralwhite;
    font-size: 18px;
}
ol{
    padding-top: 4px;
    padding-bottom: 4px;
}
li{
    color: floralwhite;
    font-size: 18px;
    padding: 5px;
}

#BasicInfo{
   float: right;
   padding: 10px;
}
/*css for the header section*/
#header{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: inset;
    border-bottom-style: outset;
    border-color: royalblue;
    background-color: royalblue;
    padding-bottom: 20px;
    outline-color: darkviolet;
}
/*css for the main content section*/
#main_content{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-right-style: ridge;
    border-left-style: ridge;
    border-top-style: inset;
    border-bottom-style: outset;
    border-color: royalblue;
    background-color: royalblue;
    outline-color: darkviolet;
    height: 80%;
    overflow: hidden;
}
/*css for side bar section of webpage*/
#aside{
    position: fixed;
    float: left;
    width: 15%;
    border-right-style: ridge;
    border-left-style: ridge;
    border-top-style: inset;
    border-bottom-style: outset;
    border-color: royalblue;
    background-color: royalblue;
    outline-color: darkviolet;
    height: 70%;
    padding-bottom: 30px;
}
#aside li{
    padding: 5px;
    list-style-type: none;
}
/*css for the footer section*/
#footer{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: inline;
    position: absolute;
    bottom: 0;
}